body {
  background-color: blue;
  text-align: center;
}

body p {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

body h1 {
  color: yellow;
  font-size: 30px;
}

body h1.hello {
  text-decoration: underline;
}

body h1.hola {
  text-decoration: overline;
  font-weight: bolder;
  color: red;
}

